@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kalam", cursive;
  font-weight: 300;
}
:root {
  --primary-color: #edbd39;
}
header {
  background: var(--primary-color);
  text-align: center;
}
header h1 {
  font-size: 2rem;
  padding: 1rem;
}
section {
  margin: auto;
  padding: 1rem;
  max-width: 600px;
}
textarea {
  display: block;
  width: 100%;
  min-height: 20vh;
  font-size: large;
  margin-top: 2rem;
}

button {
  background: var(--primary-color);
  border: none;
  margin: 2rem 0;
  padding: 1rem 2rem;
  font-size: large;
}
#output {
  border: 1px solid black;
  width: 100%;
  min-height: 10vh;
  max-height: 20vh;
  overflow: scroll;
  padding: 1rem;
  font-size: large;
}
footer {
  width: 100%;
  padding: 1rem;
  background-color: var(--primary-color);
  text-align: center;
}

footer h2 {
  font-size: x-large;
}

footer p {
  max-width: 600px;
  margin: auto;
}
