* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --primary-color: rgb(243, 243, 54);
    --secondary-color: rgb(15, 152, 177);
}
body {
  text-align: center;
  text-transform: capitalize;
}
#navbar {
  height: 20vh;
  background-color: var(--primary-color);
}
.heading {
  padding-top: 2rem;
   color: var(--secondary-color);
}
main {
  max-width: 350px;
  margin: auto;
}
#main-section{
    background: url(https://wallpapercave.com/wp/W3Y8SHY.jpg);
    
    background-size: cover;
}
#text-translating,
#show-output {
  margin: 1rem 0;
  display: block;
  width: 100%;
  border: 2px solid var(--secondary-color);
  overflow: scroll;
}
#text-translating {
  min-height: 23vh;
  overflow: scroll;
}
button {
  padding: 0.6rem 2rem;
  margin: 1rem 0;
  font-size: 1.3rem;
  background-color: var(--primary-color);
  border: none;
   color: var(--secondary-color);
}

#show-output {
  min-height: 10vh;
  text-align: left;
}
h4{
     color: var(--secondary-color);
}
footer {
  background-color: var(--primary-color);
   color: var(--secondary-color);
}
#footer-content {
  max-width: 380px;
  margin: auto;
}
#about {
  padding: 1.3rem 0;
}
#footer-para {
  padding-bottom: 1rem;
  letter-spacing: 1px;
  text-align: justify;
}
